.sidebar {
  width:37vh;
  height: 100vh;
  position: fixed;
  background-color: #000; 
  color: #fff;
  margin-right: 0px;
}

.tab-link {
  display: flex;
  align-items: center;
  padding: 10px 40px;
  color: #fff; 
  width: 100%;
  text-decoration: none; 
}

.tab-link i, 
.tab-link svg {
  margin-right: 10px;
  color: #fff; 
}

.tab-link:hover {
  background-color: #fff;
  color: #000; 
}

.tab-link:hover svg {
  color: #000; 
}

.tab-link.active {
  background-color: #333333; 
  color: #ffffff;
}
