/* MyProfile.css */
.profile-header {
    background-color: #000000; /* Màu nền tối */
    padding: 20px;
    border-radius: 10px;
  }
  
.profile-avatar {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%; 
    border: 3px solid #fff;
}
  
.profile-info {
    text-align: left;
    color: #fff;
}
  
  .profile-info h2 {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff; /* Màu xanh cho tên */
  }
  
  .profile-info p {
    font-size: 16px;
    color: #cccccc; /* Màu chữ phụ */
  }
  
  .profile-info .btn {
    margin-top: 10px;
    color: #ffffff;
    border-color: #000000;
    background-color: #000000;
  }
  
  .profile-info .btn:hover {
    background-color: #ffffff;
    color: #000000;
  }
  
  