.messchat-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.messchat-item.sent {
  justify-content: flex-end; /* Tin nhắn của người khác bên phải */

}

.messchat-item.received {
  justify-content: flex-start; /* Tin nhắn của bạn bên trái */

}
.message-content {
  background-color: #333;
  color: #fff;
  padding: 8px 10px; /* Điều chỉnh padding */
  border-radius: 21px !important;
  max-width: 60%;
  display: inline-block;
}


.messchat-item.received .message-content {
  background-color: #3a3a3a; /* Màu tin nhắn của bạn */
  color: white;

}

.messchat-item.sent .message-content {
  background-color: #63afcd47; /* Màu tin nhắn của người khác */
  color: white;

}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.message-time {
  font-size: 0.75rem;
  color: #bbb;
  margin-top: 5px;
  display: block;
  text-align: right;
}
.message-text {
  font-size: 20px;
  margin-bottom: 5px;
  padding: 3px 5px;
  font-family: 'Raleway', sans-serif;
}

.sender-name {
  font-weight: bold;
  margin-bottom: 5px;
}
.placeholder-avatar {
  width: 40px; /* Kích thước tương tự avatar */
  height: 40px;
  display: inline-block;
  margin-right: 10px;
}
